.load-more-container{
    margin: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.products-container{
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.product{
    width: 320px;
    height: 350px;
    padding: 10px;
    border: 1px solid #000;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background-color: #f5f5f5;
    box-sizing: border-box;
}

.product img{
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 4px;
}
